### Q1. 여러분은 파이썬을 통해 설문조사 문항의 응답내역을 분석하게 되었습니다. 문항별 응답내용에는 하나의 응답만 할 수 있는 single choice 문제와 여러 응답을 선택할 수 있는 multiple choice 문제가 있습니다. 2개를 구분하기 위해 single choice 문항 번호에 "_"를 표기하지 않기로 했습니다.

문항별 응답내역이 'question'에 담겨 있을 때, 조건문과 반복문을 사용하여 아래와 같은 결과가 출력되도록 코드를 작성해보세요.

In [1]:
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [2]:
[one for one in question if len(one)==2]

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

### Q2. 한스 로슬링(Hans Rosling, 1948년 7월 27일 ~ 2017년 2월 7일)은 스웨덴의 의사이자 통계학자로 비영리 벤처 갭마인더 재단의 공동설립자이기도 합니다. 빅데이터를 가장 잘 활용하는 보건 통계학자로 알려져 있습니다. 베스트셀러 책인 "팩트풀니스" 저자이기도 합니다. 갭마인더 사이트에서는 연도별, 국가별 GDP와 기대수명 데이터를 제공하고 있는데, 대표적으로 파이썬 라이브러리 중 'seaborn'에서 제공되는 예제 데이터가 있습니다. 오늘은 이 데이터를 활용해 문제를 풀어보겠습니다.

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df_2011 = df[ df['Year'] >= 2011 ]
del df_2011['Spending_USD']
df_2011_pivot = df_2011.pivot_table(index='Year', columns=['Country'])
df_2011_pivot.head()

        Life_Expectancy
Country          Canada France Germany Great Britain Japan   USA
Year
2011               81.4   82.3    80.5          81.0  82.7  78.7
2012               81.6   82.1    80.6          81.0  83.2  78.8
2013               81.7   82.3    80.6          81.1  83.4  78.8
2014               81.8   82.8    81.2          81.4  83.7  78.9
2015               81.9   82.4    80.7          81.0  83.9  78.7

### Q3. Jupyter notebook 은 문서와 코드를 함께 작성할 수 있다는 점이 장점입니다. Jupyter notebook 에서 지원하는 Markdown 문법을 사용하여, 이번 주에 배운 내용을 정리해 보세요!

파일경로 설정 방법
================================================
1. %mv ~/Do 입력 후 Tab 키 누르면 `Downloads 파일경로` 자동완성
    1. **%mv** : 파일의 경로를 다른 곳으로 옮긴다는 의미
    1. **%ls**  :현재 폴더에 있는 파일 확인
    1. **%pwd** : 주피터 노트북이 있는 폴더의 경로를 출력
1. pd.read_csv 는 csv 파일로 파일을 읽어오는 것
    1. encoding 파라미터 설정으로 한글이 깨지지 않게 불러올 수 있음. (cp949, euc-kr, utf-8)
    2. `.`은 현대 폴더의 경로를 말함

### Q4. 앞으로 우리는 공공데이터포털에서 데이터를 다운로드 받아 과정을 진행할 예정입니다. 본격적인 학습 이전에! 데이터를 다루는 방법이 익숙해지도록 한번 더 연습해보고, 어떤 문제를 풀 수 있을지도 함께 고민해보아요!

In [4]:
%mv "C:/Users/kangc/Downloads/서울특별시 강남구_생활폐기물배출량_20221019.csv" .

UsageError: Line magic function `%mv` not found.

In [5]:
%ls

 C 드라이브의 볼륨: Windows-SSD
 볼륨 일련 번호: 5403-A0CB

 C:\Users\kangc\Documents\코칭스터디 8기\1주차 과제 디렉터리

2022-10-28  오후 04:28    <DIR>          .
2022-10-27  오후 09:17    <DIR>          ..
2022-10-28  오후 03:40    <DIR>          .ipynb_checkpoints
2022-10-28  오후 04:28            12,482 1주차 미션.ipynb
2022-10-27  오후 08:38            33,954 Quiz 1-1.png
2022-10-28  오후 04:01               244 서울특별시 강남구_생활폐기물배출량_20221019.csv
               3개 파일              46,680 바이트
               3개 디렉터리  426,764,816,384 바이트 남음

In [6]:
import pandas as pd
df = pd.read_csv("서울특별시 강남구_생활폐기물배출량_20221019.csv", encoding='cp949')
df.head()

   강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
0  01월            7550            7350
1  02월            6387            6688
2  03월            7198            6973
3  04월            6820            6448
4  05월            7767            6470